# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# Java
# [*.java]
# indent_size = 4

# Markdown
[*.md]
insert_final_newline = true
trim_trailing_whitespace = false
# max_line_length = 80

[*.py]
indent_style = space
indent_size = 4

[*.sh]
indent_style = space
switch_case_indent = true

[Makefile]
indent_style = tab
