# BasedOnStyle: LLVM
# IndentWidth: 2
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
IndentCaseLabels: true
SortIncludes: Never
